<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>Crud de Teste</title>

<script src="https://cdn.jsdelivr.net/npm/vue"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!-- Adição das Folhas de Estilos - Bootstrap, FontAwesome e de Customização do Tema -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css" integrity="sha384-oS3vJWv+0UjzBfQzYUhtDYW+Pj2yciDJxpsK1OYPAYjqT085Qq/1cq5FLXAZQ7Ay" crossorigin="anonymous">
<link rel="stylesheet" href="assets/css/styles.css">

</head>
<body>
	<!-- Barra de Navegação Topo -->
	<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
		<a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
			<img src="assets/images/hepta_neg_hor.png" />
		</a>
		<ul class="navbar-nav px-3">
			<li class="nav-item text-nowrap">
				<a class="nav-link" href="#"><i class="fas fa-power-off"></i></a>
			</li>
		</ul>
	</nav>

	<!-- Conteúdo Geral - Sidebar + Content -->
	<div class="container-fluid">
		<div class="row">
			<!-- Sidebar -->
			<nav class="col-md-2 d-none d-md-block bg-light sidebar">
				<div class="sidebar-sticky">
					<ul class="nav flex-column">
						<li class="nav-item">
							<a class="nav-link active" href="#">
								<span data-feather="home"></span>
								Formulário <span class="sr-only">(current)</span>
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="opcao01"></span>
								Item de Menu
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="opcao02"></span>
								Item de Menu
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="opcao03"></span>
								Item de Menu
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="opcao04"></span>
								Item de Menu
							</a>
						</li>
						<li class="nav-item">
							<a class="nav-link" href="#">
								<span data-feather="opcao05"></span>
								Item de Menu
							</a>
						</li>
					</ul>
				</div>
			</nav>
			
			<!-- Conteúdo -->
			<main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
				<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
					<h3>Formulário</h3>
					<div class="btn-toolbar mb-2 mb-md-0">
						<a href="#">Início</a> > <a href="#"> Fomulário</a>
					</div>
				</div>
				
				<!-- Div do VUE.js -->
				<div id="app_crud" class="div_principal">
					<!-- Formulário -->
					<form>
			
						<h5>{{ dto.nome }}</h5>
						
						<div class="form-row">
							<div class="form-group col-md-2">
								<label for="id">ID</label>
								<input id="id" class="form-control" type="text" v-model="dto.id" placeholder="ID" disabled />						
							</div>
							
							<div class="form-group col-md-4">
								<label for="nome">Nome</label>
								<input id="nome" class="form-control" type="text" v-model="dto.nome" placeholder="Nome" />				
							</div>
							
							<div class="form-group col-md-12">
								<input class="btn btn-success" type="button" value="Salvar" @click="salvarPessoa" /> 
								<input class="btn btn-secondary" type="button" value="Limpar" onclick="limparCampos();" /> 
								<input class="btn btn-primary" type="button" value="Buscar" @click="buscarPessoas" />			
							</div>
						</div>
					</form>
					<hr>

					<!-- Tabela de Resultados -->
					<div class="row">
						<div class="col-md-8"><h3>Lista de Registros</h3></div>
						<div class="col-md-4 t-a-r"><i class="far fa-file-alt"></i> {{ totalRegistros }} Registros</div>
					</div>

					<div class="row">

						<div class="col-md-6 col-sm-6 mb-3" v-for="obj in lista">
							<div class="card bg-light mb-3">
								<div class="card-body">
									<p class="card-text">ID: {{ obj.id }}</p>
									<h5 class="card-title">{{ obj.nome }}</h5>
									
									<a href="#" class="card-link text-success">
										<span @click="editarItem(obj)"><i class="fas fa-edit"></i> Editar</span> 
									</a>
									<a href="#" class="card-link text-danger">
										<span @click="excluirItem(obj.id)"><i class="fas fa-trash"></i> Excluir</span>
									</a>
								</div>
							</div>
						</div>						
					
					</div>

					<input type="hidden" v-model="initValue" />
					
					<div class="row mb-3">
						<div class="col-md-12">
							<span style="cursor: pointer;" v-if="initValue > 5" @click="voltarListagem"><i class="fas fa-arrow-left"></i> Anterior</span> 
							<span style="cursor: pointer;" @click="avancarListagem" v-if="(initValue+10)<totalRegistros">Próximo <i class="fas fa-arrow-right"></i></span>
						</div>
					</div>
					
				</div>
			</main>
		</div>
	</div>

	<!-- Scripts -->
	<script>
		var vm1 = new Vue({
			el : '#app_crud',
			data : {
				lista : [ {
					id : '1',
					nome : 'Teste'
				} ],
				
				dto : {id : '',
					nome : ''},
				initValue : 0,
				totalRegistros : 0
			},
	        methods: {
	          buscarPessoas: function() {
	            listarPessoasREST();
	          },
	          
	          salvarPessoa : function() {
	        	  axios.post('http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/salvar', this.dto)
	        		  .then(function (response) {
	        		    console.log(response);
	        		    listarPessoasREST();
	        		    limparCampos();
	        		  })
	        		  .catch(function (error) {
	        		    console.log(error);
	        		  });

	          },
	          editarItem : function(obj) {
	        	  this.dto = obj

	          },
	          excluirItem : function(id) {
	        	   axios.delete('http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/deletar/'+id)
	        	  	 .then(function (response) {
	        		    console.log(response);
	        		    listarPessoasREST();
	        		    limparCampos();
	        		  })
	        		  .catch(function (error) {
	        		    console.log(error);
	        		  }); 
	        	   

	          },
	          voltarListagem : function(){
	        	  this.initValue = this.initValue - 10;
	        	  listarPessoasREST();
	          },
	          avancarListagem : function(){
	        	  this.initValue = this.initValue + 10;
	        	  listarPessoasREST();
	          }
	        },
	        created: listarInicial()
		})
		
		function limparCampos(){
			vm1.dto = {id:'',nome:''};
		}
		
		function listarPessoasREST(){
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/listar?initValue="+vm1.initValue)
            .then(response => {console.log(response.data);vm1.lista = response.data
          	  }).catch(function (error) {
          	    console.log(error);
          	  });
			
			getTotalRegistros();
		}
		
		function listarInicial(){
			axios.defaults.headers.common['Content-Type'] = 'application/x-www-form-urlencoded';
			axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/listar")
            .then(response => {console.log(response.data);vm1.lista = response.data
          	  }).catch(function (error) {
          	    console.log(error);
          	  });
			
			getTotalRegistros();
		}
		
		
         function getTotalRegistros(){
      	  axios.get("http://externos.hepta.com.br:8080/CrudWS/rest/pessoa/total")
            .then(response => {vm1.totalRegistros = response.data
          	  }).catch(function (error) {
          	    console.log(error);
          	  });
        }
		
	</script>
</body>
</html>